.buttons {
  align-items: left;
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}

.buttons a + a {
  margin-left: 1rem;
}

@media (max-width: 996px) {
  .terminalWrapper {
    margin-top: 2rem;
  }

  .buttons {
    display: block;
  }

  .buttons a {
    display: block;
    width: 100%;
  }

  .buttons a + a {
    margin: 1rem 0 0;
  }
}
