.heroBanner {
  background: var(--capact-orange-lighter);
  color: var(--capact-black);
  text-align: left;
  position: relative;
  overflow: hidden;
  padding: 8rem 2rem 7rem;
}

.illustrationWrapper {
  text-align: center;
}

.illustration {
  max-height: 300px;
}

@media (max-width: 966px) {
  .heroBanner {
    padding: 4rem 1rem;
  }

  .illustration {
    margin-bottom: 2rem;
    max-height: 200px;
  }
}

@media (max-width: 350px) {
  .heroBanner {
    padding: 3rem 0rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}

.buttons a + a {
  margin-left: 15px;
}

.buttonDark:global(.button--outline) {
--ifm-button-color: var(--capact-black);
--ifm-button-border-color: var(--capact-black);
}

.buttonDark:global(.button--outline):hover {
  background-color: var(--capact-black);
  --ifm-button-color: var(--capact-white);
}

.buttonDark:global(.button--primary:not(.button--outline)) {
  --ifm-button-background-color: var(--capact-black);
  --ifm-button-border-color: var(--capact-black);
  --ifm-button-color: var(--capact-white);
}

.buttonDark:global(.button--primary:not(.button--outline)):hover {
  --ifm-button-border-color: var(--capact-orange-dark);
}