ul.highlights {
  list-style-type: none;
}

ul.highlights li + li {
  margin-top: 2rem;
}

.highlight {
  display: flex;
}

.highlightIcon {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.highlightDesc {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 1rem;
}

@media (max-width: 966px) {
  .highlights {
    margin-top: 2rem;
  }
}
