.section {
  padding: 8rem 0;
  border-bottom: 1px solid var(--section-border-color);
}

.header {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 0 1rem;
  margin: 0 0 5rem;
}

@media (max-width: 966px) {
  .section {
    padding: 3rem 0;
  }

.header {
  margin: 0 0 3rem;
}
}